body {
    background-color: #f2f2f2;
    color: #222;
    font-family: "Courier New";
    margin: 0;
    
}

/** Small screens **/
@media screen and (max-width: 1000px) {
    body {
        font-size: 4vw;
    }
    #container {
        text-align: center
    }
    #container ul {
        text-align: left
    }
    #container #links ul {
        text-align: center
    }
}

hr {
    border-color: #eee;
    width: 100%;
}

p {
    margin: 20px 0;
}

#container {
    padding: 5vh 0;
    position: relative;
    min-height: 90vh;
    max-width: 90vw;
    left: 5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
}

/** Small screens **/
@media screen and (min-width: 1000px) {
    #container {
        max-width: 50vw;
        left: 25vw;
    }
}

.strikethrough {
    text-decoration: line-through
}

h1 {
    font-family: "Montserrat", sans-serif;
}

h2,
h3,
h4 {
    font-family: "Courier New"
}

/* Links */
#links ul {
    list-style-type: none;
    padding-left: 0px;
    row-gap: 10px;
    display: flex;
    column-gap: 10px;
}

#links ul li {
    position: relative;
}

/* Birds */

.photos {
    display: flex;
    flex-direction: row;
    border: 1px solid #9f9f9f;
    padding: 10px;
}

.photo {
    max-width: 25%;
    height: auto;
}

.photo img {
    width: 100%;
}

/* Resume */
#resume {
    text-align: left
}